<div class="angular-component">
    <div class="h3">User List | 
        <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
    </div>
    <table class="table table-sm">
        <tr>
            <th><a (click)="sortColumn('id')" class="btn btn-link">Id</a></th>
            <th><a (click)="sortColumn('lastname')" class="btn btn-link">Name</a></th>
            <th><a (click)="sortColumn('username')" class="btn btn-link">Username</a></th>
            <th>Password</th>
            <th>Reviewer?</th>
            <th>Admin</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let u of users | userSearch:searchCriteria | sort:sortCriteria:ascSequence">
            <td>{{u.id}}</td>
            <td>{{u.firstname}} {{u.lastname}}</td>
            <td>{{u.username}}</td>
            <td>{{u.password | masked}}</td>
            <td>{{u.isReviewer | bool}}</td>
            <td>{{u.isAdmin | bool}}</td>
            <td>
                <a routerLink="/users/edit/{{u.id}}">Edit</a>
            </td>
        </tr>
    </table>
</div>